// _variables.scss
// ============================
@import "http://fonts.googleapis.com/css?family=Exo+2:200,400,600,800";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900";

@include border-box-sizing; //uses border box sizing like the old IE

//Susy Global Settings
$susy: (
  columns: 12,
  container: 60em,
  gutters: 1/4,
  gutter-position: inside
);

// Color Palette

$blue      : #336699;
$maize     : #E89D00;
$yellow    : #FFBC2E;
$lightblue : #33A3DC;
$red       : #DC4332;
$grey      : #E0E0E0;
$orange    : #F2C968;
$dark      : #000000;
$light     : #FFFFFF;

$backgroundColor : $light;
$typeDefault     : $dark;
$navBackground   : $blue;
$navForeground   : $red;
$navHover        : $yellow;
$navBrandBg      : $light;
$headersubbg     : $dark;

//Font variables

$headfamily : 'Exo 2', 'Helvetica Neue', Helvetica, Arial,  sans-serif;
$mainfamily : 'Source Sans Pro', sans-serif;

$thin : 200;
$normal : 400;
$bold : 600;
$heavy : 800;


$headFont : $thin 1.5em/1.5em $headfamily;
$mainFont : $thin 1em/1.5em $mainfamily;
$headColor: $red;

//Breakpoint variables
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;