header {
	.fullheight {
	   @include backImage('../images/skyline/aaskyline.jpg');
	   @include display-flex();
	   @include align-items(center);
	   @include justify-content(center);

	   .hgroup {
	      padding: 120px 0;

	      h1 {
	         color: $light;
	         font-size: 5em;
	         font-weight: $heavy;
	         line-height: 0.8em;
	         @include text-shadow($dark 0 0 20px);
	         text-align: center;

	         @include breakpoint(max-width $small) {
	            font-size: 3em;
	         } // breakpint
	      } // h1 

	      h2 {
	        color: $light;
	        display: block;
	        width: 60%;
	        max-width: 160px;
	        border: 1px solid $light;
	        padding: 7px;
	        margin: 15px auto 0;
	        text-align: center;
	        font-size: 1.3em;
	        background: rgba($headersubbg, 0.5);
	      } // h2

	      p {
	        text-align: center;
	        img {
	           padding-top: 50px;
	           max-width: 50px;
	        } // img
	      } // p
	   } // hgroup
	} // fullheight
} // header