header #nav{
	@include clearfix;
	@include background-image(linear-gradient(top, lighten($navBackground, 10), $navBackground));
	width: 100%;
    
    .navbar {
       @include container;
       .brand {
          @include span(4);
          float: left;
          font-weight: $bold;
          font-family: $headfamily;
          text-align: center;
          text-transform: uppercase;
          background: $navBrandBg;

          a {
            color: $navForeground;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            padding: 10px;
            font-size: 1.5em;

            @include breakpoint(max-width $small) {
               font-size: 0.83em;
            } // breakpint
          } // a
       } // brand

       ul {
         @include span(8);
         li {
           float: left;
           
           a {
             display: inline-block;
             color: $light;
             font: $mainFont;
             font-size: 1em;
             font-weight: $bold;
             padding: 10px 15px;
             text-decoration: none;

             &:hover {
               background: $navHover;
               color: $red;
             } // hover
             
             i {
                padding-right: 10px;
             } // i

             @include breakpoint(0 $small) {
                padding-left: 10px;
                padding-right: 0;

                span {
                   display: none;
                } // span
             } // beakpoint

             @include breakpoint($small $medium) {
                 i {
                   display: none;
                 } // i
             } // breakpoint
           } // a
         } // li
       } // ul
    } // navbar
} // nav
