@import "http://fonts.googleapis.com/css?family=Exo+2:200,400,600,800";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,900";
/* line 5, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em "Source Sans Pro", sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 9, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #DC4332;
  font-weight: 600;
}

/* line 15, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 19, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 7, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 20px 0;
}
/* line 11, ../../../components/sass/_layout.scss */
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 7, ../../../components/sass/_layout.scss */
  .scene {
    padding: 40px 0;
  }
}
@media (min-width: 960px) {
  /* line 20, ../../../components/sass/_layout.scss */
  .scene article {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 2, ../../../components/sass/modules/_intro.scss */
header .fullheight {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/skyline/aaskyline.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 8, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup {
  padding: 120px 0;
}
/* line 11, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h1 {
  color: #FFFFFF;
  font-size: 5em;
  font-weight: 800;
  line-height: 0.8em;
  text-shadow: #000000 0 0 20px;
  text-align: center;
}
@media (max-width: 650px) {
  /* line 11, ../../../components/sass/modules/_intro.scss */
  header .fullheight .hgroup h1 {
    font-size: 3em;
  }
}
/* line 24, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup h2 {
  color: #FFFFFF;
  display: block;
  width: 60%;
  max-width: 160px;
  border: 1px solid #FFFFFF;
  padding: 7px;
  margin: 15px auto 0;
  text-align: center;
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.5);
}
/* line 37, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p {
  text-align: center;
}
/* line 39, ../../../components/sass/modules/_intro.scss */
header .fullheight .hgroup p img {
  padding-top: 50px;
  max-width: 50px;
}

/* line 1, ../../../components/sass/modules/_nav.scss */
header #nav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwN2ZiZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNjY5OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #407fbf), color-stop(100%, #336699));
  background-image: -moz-linear-gradient(top, #407fbf, #336699);
  background-image: -webkit-linear-gradient(top, #407fbf, #336699);
  background-image: linear-gradient(to bottom, #407fbf, #336699);
  width: 100%;
}
/* line 24, ../../../components/sass/_mixins.scss */
header #nav:before, header #nav:after {
  content: "";
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
header #nav:after {
  clear: both;
}
/* line 6, ../../../components/sass/modules/_nav.scss */
header #nav .navbar {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
header #nav .navbar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  float: left;
  font-weight: 600;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFFFFF;
}
/* line 17, ../../../components/sass/modules/_nav.scss */
header #nav .navbar .brand a {
  color: #DC4332;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
}
@media (max-width: 650px) {
  /* line 17, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar .brand a {
    font-size: 0.83em;
  }
}
/* line 31, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 33, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li {
  float: left;
}
/* line 36, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a {
  display: inline-block;
  color: #FFFFFF;
  font: 200 1em/1.5em "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding: 10px 15px;
  text-decoration: none;
}
/* line 45, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a:hover {
  background: #FFBC2E;
  color: #DC4332;
}
/* line 50, ../../../components/sass/modules/_nav.scss */
header #nav .navbar ul li a i {
  padding-right: 10px;
}
@media (min-width: 0) and (max-width: 650px) {
  /* line 36, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a {
    padding-left: 10px;
    padding-right: 0;
  }
  /* line 58, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a span {
    display: none;
  }
}
@media (min-width: 650px) and (max-width: 960px) {
  /* line 64, ../../../components/sass/modules/_nav.scss */
  header #nav .navbar ul li a i {
    display: none;
  }
}

/* line 1, ../../../components/sass/modules/_welcome.scss */
#welcome {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmMyZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjNDMzMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffbc2e), color-stop(100%, #dc4332));
  background-image: -moz-linear-gradient(top, #ffbc2e, #dc4332);
  background-image: -webkit-linear-gradient(top, #ffbc2e, #dc4332);
  background-image: linear-gradient(to bottom, #ffbc2e, #dc4332);
}
/* line 4, ../../../components/sass/modules/_welcome.scss */
#welcome article {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#welcome article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 4, ../../../components/sass/modules/_welcome.scss */
  #welcome article {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
  }
  /* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #welcome article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 13, ../../../components/sass/modules/_welcome.scss */
#welcome h1 {
  font-weight: 600;
  line-height: 100%;
  color: #902418;
  padding: 10px 0;
}
/* line 20, ../../../components/sass/modules/_welcome.scss */
#welcome p {
  font-weight: 500;
}
/* line 24, ../../../components/sass/_mixins.scss */
#welcome .gallery:before, #welcome .gallery:after {
  content: "";
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#welcome .gallery:after {
  clear: both;
}
/* line 26, ../../../components/sass/modules/_welcome.scss */
#welcome .gallery img {
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  display: none;
}
/* line 30, ../../../components/sass/modules/_welcome.scss */
#welcome .gallery img:hover {
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  -webkit-transition-duration: 5s;
  transition-duration: 5s;
  -moz-transition-timing-function: easing-in-out;
  -o-transition-timing-function: easing-in-out;
  -webkit-transition-timing-function: easing-in-out;
  transition-timing-function: easing-in-out;
}
@media (min-width: 650px) {
  /* line 26, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: inline;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 2) {
    margin-left: 25%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 3) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(4n + 4) {
    margin-left: 75%;
    margin-right: -100%;
    clear: none;
  }
  /* line 39, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img.hidesm {
    display: none;
  }
}
@media (min-width: 960px) {
  /* line 26, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    display: inline;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 2) {
    margin-left: 20%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 3) {
    margin-left: 40%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 4) {
    margin-left: 60%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  #welcome .gallery img:nth-child(5n + 5) {
    margin-left: 80%;
    margin-right: -100%;
    clear: none;
  }
  /* line 48, ../../../components/sass/modules/_welcome.scss */
  #welcome .gallery img.hidesm {
    display: inline;
  }
}

/* line 1, ../../../components/sass/modules/_umich.scss */
#umich {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzNjY5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYTNkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336699), color-stop(100%, #33a3dc));
  background-image: -moz-linear-gradient(top, #336699, #33a3dc);
  background-image: -webkit-linear-gradient(top, #336699, #33a3dc);
  background-image: linear-gradient(to bottom, #336699, #33a3dc);
  color: #FFFFFF;
}
/* line 5, ../../../components/sass/modules/_umich.scss */
#umich h1, #umich h2, #umich h3, #umich h4, #umich h5, #umich h6 {
  color: #ffbe36;
}
/* line 9, ../../../components/sass/modules/_umich.scss */
#umich .heading {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#umich .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../../../components/sass/modules/_umich.scss */
#umich .heading img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
  padding-left: 0;
}
@media (max-width: 1024px) {
  /* line 11, ../../../components/sass/modules/_umich.scss */
  #umich .heading img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 3.33333%;
    padding-right: 3.33333%;
  }
}
/* line 22, ../../../components/sass/modules/_umich.scss */
#umich section h2 {
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
/* line 28, ../../../components/sass/modules/_umich.scss */
#umich section p {
  font-size: 1em;
  line-height: 130%;
}
/* line 34, ../../../components/sass/modules/_umich.scss */
#umich section ul li {
  list-style: square;
  margin-left: 10%;
  line-height: 115%;
  margin-bottom: 5px;
  font-size: 0.9em;
}
/* line 44, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#umich #usefulinfo:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 47, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo #historyinfo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}
/* line 49, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo #historyinfo p {
  line-height: 150%;
}
@media (max-width: 768px) {
  /* line 52, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo #historyinfo p #hide_info {
    display: none;
  }
}
@media (max-width: 1024px) {
  /* line 47, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo #historyinfo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
  }
}
/* line 63, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo .galleryinfo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  /* line 63, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo .galleryinfo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
  }
  /* line 69, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo .galleryinfo #slider {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  /* line 63, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo .galleryinfo {
    margin-top: 0;
  }
}
/* line 79, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo .galleryinfo .slides img {
  width: 100%;
}
/* line 85, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo #slider {
  overflow: hidden;
  max-width: 650px;
  max-height: 435px;
  border: 5px solid #ffbe36;
}
@media (max-width: 768px) {
  /* line 85, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo #slider {
    display: none;
  }
}
/* line 95, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo #slider .slides {
  display: block;
  width: 6000px;
  max-height: 435px;
  margin: 0;
  padding: 0;
}
/* line 103, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo #slider .slide {
  float: left;
  list-style: none;
  max-width: 650px;
  max-height: 435px;
}
/* line 111, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo .basicinfo {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#umich #usefulinfo .basicinfo:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 768px) {
  /* line 111, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo .basicinfo {
    margin-top: 0;
  }
}
/* line 119, ../../../components/sass/modules/_umich.scss */
#umich #usefulinfo .basicinfo .checklist {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding: 0 10px;
}
@media (max-width: 650px) {
  /* line 119, ../../../components/sass/modules/_umich.scss */
  #umich #usefulinfo .basicinfo .checklist {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
/* line 130, ../../../components/sass/modules/_umich.scss */
#umich #ranking {
  background-color: rgba(17, 73, 101, 0.5);
  margin-top: 20px;
  border: 1px solid #FFFFFF;
  padding: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  /* line 130, ../../../components/sass/modules/_umich.scss */
  #umich #ranking {
    background-image: url("../images/icons/UM.png");
    background-size: 250px;
    background-position: 98% center;
    background-repeat: no-repeat;
    padding-right: 300px;
  }
}
@media (max-width: 480px) {
  /* line 143, ../../../components/sass/modules/_umich.scss */
  #umich #ranking #hide {
    display: none;
  }
}

/* line 2, ../../../components/sass/modules/_attractions.scss */
#attractions header {
  margin-bottom: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#attractions header:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  /* line 2, ../../../components/sass/modules/_attractions.scss */
  #attractions header {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9.16667%;
    padding-right: 9.16667%;
  }
  /* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #attractions header:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 11, ../../../components/sass/modules/_attractions.scss */
#attractions .attraction {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 200px 0;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#attractions .attraction:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 11, ../../../components/sass/modules/_attractions.scss */
  #attractions .attraction {
    padding-left: 59.16667%;
    padding-right: 9.16667%;
  }
}
/* line 25, ../../../components/sass/modules/_attractions.scss */
#attractions .attraction .content {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
/* line 30, ../../../components/sass/modules/_attractions.scss */
#attractions .attraction .content h1 {
  color: #1c78a6;
}
/* line 34, ../../../components/sass/modules/_attractions.scss */
#attractions .attraction .content p {
  font-weight: 500;
  font-size: 0.85em;
}
/* line 41, ../../../components/sass/modules/_attractions.scss */
#attractions #downtown {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/Downtown.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 42, ../../../components/sass/modules/_attractions.scss */
#attractions #michigantheater {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/michiganTheater.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 43, ../../../components/sass/modules/_attractions.scss */
#attractions #michiganstadium {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/michiganStadium.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 44, ../../../components/sass/modules/_attractions.scss */
#attractions #briarwood {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/Briarwood.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 45, ../../../components/sass/modules/_attractions.scss */
#attractions #hillauditorium {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/Hill.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 46, ../../../components/sass/modules/_attractions.scss */
#attractions #nicholsarboretum {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/nicholsArboretum.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 47, ../../../components/sass/modules/_attractions.scss */
#attractions #umlawschool {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/LawSchool.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 48, ../../../components/sass/modules/_attractions.scss */
#attractions #ummichiganofart {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/umma.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 2, ../../../components/sass/modules/_dining.scss */
#dining h1, #dining h2 {
  padding: 10px 0;
}
/* line 6, ../../../components/sass/modules/_dining.scss */
#dining h1 {
  color: #33A3DC;
}
/* line 10, ../../../components/sass/modules/_dining.scss */
#dining h2 {
  color: #E89D00;
}
/* line 14, ../../../components/sass/modules/_dining.scss */
#dining img {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media (min-width: 650px) {
  /* line 20, ../../../components/sass/modules/_dining.scss */
  #dining #aadining {
    margin-bottom: 20px;
  }
  /* line 23, ../../../components/sass/modules/_dining.scss */
  #dining #aadining h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: #33A3DC;
  }
  /* line 29, ../../../components/sass/modules/_dining.scss */
  #dining #aadining p {
    font-size: 1.5em;
    line-height: 140%;
  }
  /* line 35, ../../../components/sass/modules/_dining.scss */
  #dining section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
  /* line 38, ../../../components/sass/modules/_dining.scss */
  #dining section h2 {
    font-size: 1.2em;
    line-height: 120%;
    color: #FFBC2E;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  /* line 38, ../../../components/sass/modules/_dining.scss */
  #dining section h2 {
    font-size: 1em;
  }
}
@media (min-width: 650px) {
  /* line 48, ../../../components/sass/modules/_dining.scss */
  #dining section p {
    padding-top: 10px;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 130%;
  }
}
/* line 57, ../../../components/sass/modules/_dining.scss */
#dining #restaurantweek {
  margin-top: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZjJmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1f2fa));
  background-image: -moz-linear-gradient(top, #ffffff, #e1f2fa);
  background-image: -webkit-linear-gradient(top, #ffffff, #e1f2fa);
  background-image: linear-gradient(to bottom, #ffffff, #e1f2fa);
  padding-left: 9.16667%;
  padding-right: 9.16667%;
  text-align: center;
  border-top: 1px solid #E89D00;
  border-bottom: 1px solid #E89D00;
}
/* line 65, ../../../components/sass/modules/_dining.scss */
#dining #restaurantweek h1 {
  font-size: 1.3em;
}
@media (max-width: 480px) {
  /* line 65, ../../../components/sass/modules/_dining.scss */
  #dining #restaurantweek h1 {
    font-size: 0.9em;
    color: #E89D00;
  }
}
/* line 73, ../../../components/sass/modules/_dining.scss */
#dining #restaurantweek p {
  font-weight: 500;
  font-size: 0.85em;
}
@media (max-width: 480px) {
  /* line 73, ../../../components/sass/modules/_dining.scss */
  #dining #restaurantweek p {
    font-size: 0.8em;
  }
}

/* line 1, ../../../components/sass/modules/_events.scss */
#events {
  padding: 0;
}
/* line 24, ../../../components/sass/_mixins.scss */
#events:before, #events:after {
  content: "";
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#events:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules/_events.scss */
#events .event {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#events .event:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 650px) {
  /* line 5, ../../../components/sass/modules/_events.scss */
  #events .event {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
/* line 12, ../../../components/sass/modules/_events.scss */
#events .event .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: #FFFFFF;
  font-weight: 200;
  line-height: 130%;
}
/* line 21, ../../../components/sass/modules/_events.scss */
#events .event .content h2 {
  line-height: 1em;
}
/* line 25, ../../../components/sass/modules/_events.scss */
#events .event .content p {
  padding: 5px 0;
  font-size: 0.9em;
}
/* line 31, ../../../components/sass/modules/_events.scss */
#events #artfair {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/events/ArtFair.jpg");
  background-repeat: no-repeat;
  background-position: 80% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 35, ../../../components/sass/modules/_events.scss */
#events #summerfestival {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/events/summerfest.jpg");
  background-repeat: no-repeat;
  background-position: 63% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 1, ../../../components/sass/modules/_scenery.scss */
#scenery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/skyline/HuronRiver.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 24, ../../../components/sass/_mixins.scss */
#scenery:before, #scenery:after {
  content: "";
  display: table;
}
/* line 29, ../../../components/sass/_mixins.scss */
#scenery:after {
  clear: both;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#scenery:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../../../components/sass/modules/_scenery.scss */
#scenery article {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#scenery article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  /* line 11, ../../../components/sass/modules/_scenery.scss */
  #scenery article {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  #scenery article:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 23, ../../../components/sass/modules/_scenery.scss */
#scenery article p {
  font-weight: 500;
  font-size: 0.8em;
}
@media (max-width: 610px) {
  /* line 29, ../../../components/sass/modules/_scenery.scss */
  #scenery article h1 {
    font-size: 0.9em;
  }
  /* line 33, ../../../components/sass/modules/_scenery.scss */
  #scenery article p {
    margin-top: 10px;
    font-size: 0.72em;
    line-height: 1.5em;
  }
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
  padding: 30px 0;
}
/* line 12, ../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 6, ../../../components/sass/modules/_footer.scss */
footer #socialmedia {
  text-align: center;
}
/* line 9, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul {
  list-style: none;
}
/* line 12, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li {
  display: inline-block;
  padding: 0 5px;
}
/* line 16, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a {
  color: #FFFFFF;
  font-size: 2.5em;
}
/* line 21, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a:hover .fa-facebook-square {
  color: #336699;
}
/* line 25, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a:hover .fa-twitter-square {
  color: #33A3DC;
}
/* line 29, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a:hover .fa-google-plus-square {
  color: #DC4332;
}
/* line 33, ../../../components/sass/modules/_footer.scss */
footer #socialmedia ul li a:hover .fa-pinterest-square {
  color: #902418;
}
